.text-cont{
    width: 80%;
    margin: auto;
    h1{
        font-size: 3.5rem;
        color: $dark-blue;
    }
    h2{
        text-transform: uppercase;
        color: $dark-sky-blue;
        letter-spacing: .5rem;
        font-size: 1rem;
    }
    p{
        font-size: 1.2rem;
        color:#7c7c96;
    }       
  margin-bottom: 50px;

}