*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.3%;
}

body{

    font-family:
    system-ui,
    -apple-system, 
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    // scroll-snap-type: ;
}
.first-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.hero-image{
    width: 100%;
    img{
        width: 100%;
    }
}




.down-section{
    height: 50rem;
    padding: 1rem;
    transition: all .2s ease;
    background-repeat: no-repeat;
<<<<<<< HEAD
    background: linear-gradient(to right bottom, #4d97a9b9), url(../../assets/mobile/image-footer.jpg);
    background-size: cover;
=======
    background: linear-gradient(to right bottom, #4d97a9b9), url(../assets/mobile/image-footer.jpg);
    background-size: 100% 100%;
>>>>>>> c419d1df026905d9bc002ebcfaea1b794feff2de
    margin: 0;
    display: flex;
    flex-direction: column;
    .text-cont{
        & *{
            margin-bottom: 3rem;

        }
        h1,p{
            color: white;
        }
    }


}


@media (min-width:530px){
    html{
        font-size:70%;
    }
    .down-section{
<<<<<<< HEAD
        height:40rem;
        background:linear-gradient(to right bottom, #4d97a9b9), url(../../assets/tablet/image-footer.jpg);
=======
        height:400px;
        background:linear-gradient(to right bottom, #4d97a9b9), url(../assets/tablet/image-footer.jpg);
>>>>>>> c419d1df026905d9bc002ebcfaea1b794feff2de
        background-repeat: no-repeat;
        background-size: cover; 
        margin: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        display: flex;
       .text-cont{
        margin: 0;
       }
    }
}


@media (min-width:1000px){
    html{
        font-size: 100%;
    }
    body{
        max-width: max-content;
        min-width: min-content;
    }
    .text-cont:not(:last-of-type){
        width: 50%;
    }
    .down-section{
        background:linear-gradient(to right bottom, #4d97a9b9), url(../assets/desktop/image-footer.jpg);
<<<<<<< HEAD
        height: 19rem;
=======
        height: 300px;
>>>>>>> c419d1df026905d9bc002ebcfaea1b794feff2de
        .text-cont{
         
           display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            h1,p,.btns{
                width: 33.33%;
                text-align: left;      
            }
        }
            
    }
}


